<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyecto1pdm" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1PDM"
        tools:targetApi="31" >
        <activity
            android:name=".grupo.GrupoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".menu.GrupoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".grupo.GrupoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".grupo.GrupoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".grupo.GrupoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".ciclo.CicloInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".ciclo.CicloEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".ciclo.CicloConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".ciclo.CicloActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".menu.CicloMenuActivity"
            android:exported="false" />
        <activity
            android:name=".carrera.CarreraInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".carrera.CarreraEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".carrera.CarreraConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".carrera.CarreraActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".menu.CarreraMenuActivity"
            android:exported="false" />
        <activity
            android:name=".menu.PlandeestudioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".plandeestudio.PlandeestudioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".plandeestudio.PlandeestudioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".plandeestudio.PlandeestudioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".plandeestudio.PlandeestudioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".menu.TipoevaluadorMenuActivity"
            android:exported="false" />
        <activity
            android:name=".tipoevaluador.TipoevaluadorInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".tipoevaluador.TipoevaluadorEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".tipoevaluador.TipoevaluadorConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".tipoevaluador.TipoevaluadorActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".menu.DocenteMenuActivity"
            android:exported="false" />
        <activity
            android:name=".docente.DocenteInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".docente.DocenteEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".docente.DocenteConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".docente.DocenteActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DocenteMenuActiviry"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>